.initiate{
    margin-top: 1.5rem;
    margin-left: 10rem;
}

.bgq{
    margin-left: 1rem;
}

.makeflex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.users{
    margin-right: 1.5rem;
    flex-wrap: wrap;
}

.textareas{
    height: 7.5rem;
    width: 13rem;
    margin-top: 2rem;
}


.wrapper{
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin-top: 8rem;
}

.userflex{

    display: flex;
    flex-wrap: wrap;

}

.inputbox{
    width:21rem;
}

.btnn{
    margin-left: 2rem;
}

.btnflex{
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

.btn1{
    margin-left: 3.3rem;
}